  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= I18n.t("layout.latest-refuels") %></h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive">
            <table class="table no-margin table-hover">
              <thead>
                <tr>
                  <th><%= I18n.t(:date, scope: "activerecord.attributes.refuel") %></th>
                  <th class="text-right"><%= I18n.t(:odometer, scope: "activerecord.attributes.refuel") %></th>
                  <th class="text-right"><%= I18n.t(:volume, scope: "activerecord.attributes.refuel") %></th>
                  <th class="text-right"><%= I18n.t(:price, scope: "activerecord.attributes.refuel") %></th>
                  <th class="text-right"><%= I18n.t(:cost, scope: "activerecord.attributes.refuel") %></th>
                  <th class="text-right"><%= I18n.t(:consumption, scope: "activerecord.attributes.refuel") %></th>
                </tr>
              </thead>
              <tbody>
                <% total_volume = current_user.total_volume %>
                <% total_odometer = current_user.total_odometer %>
                <% average_consumption = total_odometer.blank? ? 0.0 : 100 * total_volume / total_odometer %>
                <!-- Refuelings -->
                <% @refuels.each do |refuel| %>
                  <% consumption = refuel.consumption %>
                  <% color = case
                             when consumption.blank?
                               ""
                             when (consumption - average_consumption) > (average_consumption/10.0)
                               "danger"
                             when (consumption - average_consumption) < (average_consumption/10.0)
                               "success"
                             else
                               ""
                             end %>
                    <tr class="<%= color %>">
                    <td><%= I18n.l(refuel.date) %></td>
                    <td class="text-right"><%= refuel.odometer.to_i %></td>
                    <td class="text-right"><%= refuel.volume %></td>
                    <td class="text-right"><%= refuel.price %></td>
                    <td class="text-right"><%= refuel.cost %></td>
                    <td class="text-right"><%= sprintf( "%0.02f", consumption ) if consumption %></td>
                  </tr>
                <% end %>
                <!-- Average -->
                <tfoot>
                  <tr style="font-weight:bold;">
                    <td>TOTAL</td>
                    <td class="text-right"><%= total_odometer.to_i %></td>
                    <td class="text-right"><%= total_volume %></td>
                    <td class="text-right">&nbsp;</td>
                    <td class="text-right">&nbsp;</td>
                    <td class="text-right"><%= sprintf( "%0.02f", average_consumption) %></td>
                  <tr>
                </tfoot>
              </tbody>
            </table>
          </div>
        <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <%= link_to I18n.t("layout.new-refuel"), new_refuel_path, class: "btn btn-sm btn-info btn-flat pull-left" %>
        </div>
      <!-- /.box-footer -->
      </div>
    <!-- /.box -->
    </div>
  <!-- /.col -->
  </div>
